{% extends 'school/index.html' %}

{% block content %}
<div class="col s12">
    <div class="carousel carousel-slider">
    <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/800/400/food/2"></a>
    <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/800/400/food/3"></a>
    <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/800/400/food/4"></a>
  </div>
</div>
<div class="container">
    <div class="section">
            <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="fa fa-users"></i></h2>
            <h5 class="center">SmartTeacher</h5>

            <p class="light">A <strong>SmartTeacher</strong> is the one who subscribes to use our application to levearge its
            result analysis capabilities and ensure that timely and accurate results are obtained.Our application is mobile friendly and therefore
            you can use your mobile phone to enter the results of the students.Being a <strong>SmartTeacher</strong>requires the following steps.
            <ol>
              <li>Confirm your School Is Registered in Our Application</li>
              <li>Complete Your Profile</li>
              <li>Register Your Class Pupils</li>
          </ol>
              <a href="">Get Registered Now</a>
            </p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="fa fa-graduation-cap"></i></h2>
            <h5 class="center">SmartPupil</h5>

              <p class="light">
                  A <strong>SmartPupil</strong> is a pupil whose school has registered to use <a href="">SmartSchool</a> to boost his/her performamnce.
                  Our application ensures collaboration os students from the different schools within the entire zone.Besides that a <a href="">SmartPupil</a> is the
              pupil whose parent is a <a href="">SmartParent</a>.To be a <a href="">SmartPupil</a> ensure that you are registered by your <a href="">SmartTeacher</a> in our system.
                  <strong>WITH SMARTPEOPLE SMART  GENUINE RESULTS ARE PPRODUCED</strong>
              </p></div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="fa fa-users"></i></h2>
            <h5 class="center">Smart Parent</h5>

            <p class="light">A <a href="">SmartParent</a> is a parent who cares about his/her child and ensures that he gets the best out of the academics.He can use
             leverage the capabilities of <a href="">SmartSchool</a> to get the latest revision materials for his/her children.

                To be a <strong>SmartParent</strong>please <a href="">Register</a>


            </p>
          </div>
        </div>
          <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="fa fa-users"></i></h2>
            <h5 class="center">SmartExams</h5>

              <p class="light">
                  With <a href="">SmartExam</a> we receive and process school results within the shortest time possible
                  and ensuring high level of accuracy.We analyse results results from the pupil individual level to the school level as per the request.
                  Finally we provide printed results for each school and ensure timely delivery when needed.
              </p></div>
        </div>
      </div>
    </div>
</div>
{% endblock %}

